
<div class="container">
    <div>
        <h3>CARRITO DE COMPRAS</h3>
    </div>
    <div class="card">
      
        <div class="row">
            <div class="col-md-10 p-4">
                <div class="row" style="height: 100%;">
                    <div class="col-md-2">

                    </div>
                    <div class="d-flex flex-column col-md-8  " style="height: 100%;">
                        <div>
                            <h2>Test de confiablidad</h2>
                        </div>
                        <div>
                            <p>Nuevo</p>    
                        </div>
                        <div>
                            <p>Cantidad : 1</p>    
                        </div>
                        <div>
                            <h4 style="color: red;">S/ 1,339.00</h4>    
                        </div>
                        <div class="d-flex justify-content-end p-2" style="gap: 20px;" >
                            <div class="mb-2" style="margin-top: 20%;">
                                <button class="btn btn-info btn-sm mr-2"> Guardar Para despues</button>
                            </div>
                            <div class="mb-2" style="margin-top: 20%;">
                                <button class="btn btn-danger btn-sm mr-2"> Eliminar</button>
    
                            </div>
                           
                            
                        </div>
                       
                    </div>
                 
                  
                </div>
              
            </div>
            <div class="col-md-2 p-4 " style="border: .1px solid;">
                <h2>RESUMEN DE TU PEDIDO</h2>
                <hr>
                <div class="row" >
                    <div class="col-6">
                        <p>subtotal(1)</p>
                    </div>
                    <div class="col-6">
                        <p style="color: red;"> S/ 1,339.00</p>
                    </div>
                   
                  

                    <div class="col-6">
                        <p>Total</p>
                    </div>
                    <div class="col-6">
                        <p style="color: red;"> S/ 1,339.00</p>
                    </div>
                    <div class="mb-4">
                        <button class="btn btn-primary" routerLink = "/page/cart/checkout"> Procesar Compra</button>

                    </div>

                </div>
                <hr>
                <div class="d-flex flex-column">
                    ✅ Protección al comprador  
                   
                  
                    
                </div>
               
    
            </div>
        </div>
       
    </div>
</div>