<!-- Plantillas Icons-->

<ng-template #like let-fill="fill">
    <span style="padding-left: 8px">
        <svg width="24" height="22" xmlns="http://www.w3.org/2000/svg">
            <path [class.like_full]="fill === 100"
                d="M4.831 7.929H.753A.753.753 0 000 8.682v12.08c0 .415.337.752.753.752H4.83a.753.753 0 00.754-.753V8.681a.753.753 0 00-.754-.752zM4.627 20.51H.957v-1.82h3.67v1.82zm18.195-3.934c.348-1.367-1.018-1.907-1.018-1.907.924-.102 1.515-.342 1.739-1.175.263-.98-.368-1.716-1.367-2.142.152-.015 1.677-.262 1.814-1.809.15-1.69-1.426-2.183-2.052-2.183-2.423 0-4.848 0-7.271-.002.348-.76.774-2.773.238-5.547-.212-1.096-.858-1.825-1.683-1.81-.664.01-1.298.523-1.365 1.161a21.09 21.09 0 01-.408 2.386c-.522 2.186-3.315 5.071-5.08 6.078v10.677c1.197.677 2.496.914 3.883.887 2.192-.041 8.453-.005 9.587-.012.803-.006 1.604-.389 1.989-1.358.526-1.323-.83-1.984-.83-1.984s1.485.072 1.824-1.26z"
                stroke="#818283" stroke-width="0.8" fill="#ffffff"></path>
        </svg>
    </span>
</ng-template>

<ng-template #star let-fill="fill">
    <span style="padding-left: 8px">
        <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg">
            <path [class.star_full]="fill === 100"
                d="M11.893 18.47c-.493-.26-1.292-.26-1.786 0L4.84 21.239c-.493.259-.817.024-.723-.526l1.006-5.864c.094-.55-.152-1.31-.552-1.7L.31 8.997c-.4-.389-.276-.77.276-.85l5.889-.855c.551-.08 1.198-.55 1.445-1.05L10.553.905c.247-.5.647-.5.894 0l2.633 5.336c.247.5.893.97 1.445 1.05l5.889.856c.552.08.676.46.276.85l-4.26 4.153c-.4.389-.647 1.149-.553 1.699l1.006 5.864c.094.55-.229.785-.723.526l-5.267-2.77z"
                stroke="#818283" stroke-width="0.8" fill="#ffffff"></path>
        </svg>
    </span>
</ng-template>
<ng-template #heart let-fill="fill">
    <span style="padding-left: 8px">
        <svg width="24" height="20" xmlns="http://www.w3.org/2000/svg">
            <path [class.heart_full]="fill === 100"
                d="M17.905 0C16.35 0 14.8.58 13.608 1.736L11.99 3.29l-1.597-1.543c-2.384-2.312-6.221-2.312-8.605 0a5.804 5.804 0 000 8.38c3.325 3.224 6.651 6.442 9.977 9.666a.343.343 0 00.482 0l9.966-9.677a5.806 5.806 0 000-8.38A6.178 6.178 0 0017.905 0z"
                stroke="#818283" stroke-width="0.8" fill="#ffffff"></path>
        </svg>
    </span>
</ng-template>
<!--End Plantillas Icons-->

<div class="contenedor-make-form">
    <div class="encuesta" style="
        height: calc(100vh );
        overflow-y: auto;
        scroll-behavior: smooth;
      " id="style-1">
        <div class="example-container container-encuesta">
            <div class="container-encuesta-title" [ngClass]="{
            box_encuesta_after_aparence: styleAparence['title_status']
          }">
                <div style="width: 42vw">
                    <p [style.text-align]="styleAparence['title_style']" style="
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding-bottom: 6px;
                padding-top: 6px;
              ">
                        {{ styleAparence['title'] }}
                    </p>
                </div>
            </div>
            <div class="container-encuesta-description" [ngClass]="{
            box_encuesta_after_aparence: styleAparence['description_status']
          }">
                <p style="word-wrap: break-word" [innerHTML]="styleAparence['description']"></p>
            </div>
            <div class="example-list">
                <div *ngIf="condition_encuesta == true">
                    <div class="example-box box-encuesta" *ngFor="let item of done; let indexGeneral = index"
                        [ngClass]="{ box_encuesta_after: styleArray[indexGeneral] == true }">
                        <div>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <!-- Drag and drop vacio -->

                            <div class="title-cuestion">
                                {{ item['title'] }}
                                <span ngDefaultControl *ngIf="item['necessary_question'] == !false" style="color: red"
                                    [(ngModel)]="item['necessary_question']">*</span>
                            </div>
                            <!--  HTML Sugerencia -->
                            <div style="width: 46.2em; word-wrap: break-word" [innerHTML]="item['sugerence']"></div>

                            <!--  Init Input  -->
                            <div *ngIf="item['type'] == 'input'">
                                <!--<mat-label>Clearable input</mat-label>-->
                                <input class="inputStyle" matInput type="text" [(ngModel)]="item['text']" />
                            </div>
                            <!--  Init TextArea  -->

                            <div *ngIf="item['type'] == 'textArea'">
                                <!--<mat-label>Clearable input</mat-label>-->
                                <textarea class="textAreaStyle" matInput type="text" style="height: 8em;"
                                    [(ngModel)]="item['text']"></textarea>
                            </div>
                            <!--  Init Num  -->

                            <div *ngIf="item['type'] == 'num'">
                                <!--<mat-label>Clearable input</mat-label>-->
                                <input class="inputStyle" matInput type="number" [(ngModel)]="item['text']" />
                            </div>
                            <div>
                                <div *ngIf="item['type'] == 'calification'" style="margin-top: 5px;">
                                    <div *ngIf="item['calification_icon'] == 'star'" style="padding-bottom: 10px">
                                        <ngb-rating [(rate)]="item['calification']" [max]="item['calification_num']"
                                            [starTemplate]="star"></ngb-rating>
                                    </div>
                                    <div *ngIf="item['calification_icon'] == 'like'" style="padding-bottom: 10px">
                                        <ngb-rating [(rate)]="item['calification']" [max]="item['calification_num']"
                                            [starTemplate]="like" [readonly]="true"></ngb-rating>
                                    </div>
                                    <div *ngIf="item['calification_icon'] == 'heart'" style="padding-bottom: 10px">
                                        <ngb-rating [(rate)]="item['calification']" [max]="item['calification_num']"
                                            [starTemplate]="heart" [readonly]="true"></ngb-rating>
                                    </div>
                                </div>
                            </div>
                            <!--  End Input  -->
                            <!--  Init MenuDesplegable  -->
                            <div *ngIf="item['type'] == 'select'">
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione</mat-label>
                                    <mat-select [(ngModel)]="item['options_selec']" name="option">
                                        <mat-option>-Seleccione-</mat-option>
                                        <mat-option *ngFor="let option of item['options']" [value]="option">
                                            {{ option }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!--  End MenuDesplegable  -->
                            <!--  Init Unica Opción  -->
                            <div *ngIf="item['type'] == 'radioButton'">
                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                    [(ngModel)]="item['options_selec']">
                                    <mat-radio-button class="example-radio-button"
                                        *ngFor="let option of item['options']; let i = index" [value]="option">
                                        <div class="radioButtonOption">{{ option }}</div>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <!--  End Unica Opción  -->
                            <!--  Init DateTime  -->
                            <div *ngIf="item['type'] == 'dateTime'" style="display: flex">
                                <label>
                                    Fecha :
                                    <input class="inputStyleDateTime" [(ngModel)]="item['date_time']"
                                        [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" />
                                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                </label>

                                <label style="margin-left: 10%;display: flex;flex-direction: column">
                                    Hora :
                                    <input class="inputStyleTime" [(ngModel)]="item['date_time']"
                                        [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" />
                                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                                </label>
                            </div>

                            <!--  End DatTime  -->
                            <!---  Init Date  ------>
                            <div *ngIf="item['type'] == 'date'">
                                <div *ngIf="item['type_aparence_date'] == 'DD/MM/YY'">
                                    <label>
                                        Fecha :
                                        <input class="inputStyle" [(ngModel)]="item['date_time']"
                                            [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" />
                                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                    </label>
                                </div>

                                <div *ngIf="item['type_aparence_date'] == 'MM/YY'">
                                    <input style="visibility: hidden;
                        position: absolute;
                        margin: auto;" class="shadow-input" name="date_time" [(ngModel)]="item['date_time']"
                                        [owlDateTime]="dt6" />

                                    <label style="margin-right: 0;">
                                        Fecha :
                                        <input class="inputStyle" [owlDateTimeTrigger]="dt6"
                                            [value]="item['date_time'] | dateFilter: dateFormatMaY" />
                                        <owl-date-time [pickerType]="'calendar'" [startView]="'year'" #dt6>
                                        </owl-date-time>
                                    </label>
                                </div>
                                <div *ngIf="item['type_aparence_date'] == 'YY'">
                                    <input style="
                        visibility: hidden;
                        position: absolute;
                        margin: auto;
                        
                      " class="shadow-input" name="date_time" [(ngModel)]="item['date_time']" [owlDateTime]="dt6" />

                                    <label style="margin-right: 0;">
                                        Fecha :
                                        <input class="inputStyle" [owlDateTimeTrigger]="dt6"
                                            [value]="item['date_time'] | dateFilter: dateFormatYear" />
                                        <owl-date-time [pickerType]="'calendar'" [startView]="'year'" #dt6>
                                        </owl-date-time>
                                    </label>
                                </div>
                            </div>

                            <!---  End Date  -->
                            <!--  Init Map  -->
                            <div *ngIf="item['type'] == 'map'"></div>

                            <!--  End Map  -->
                            <!--  Init image  -->
                            <div *ngIf="item['type'] == 'image'">
                                <div *ngIf="item['type_origin'] == 'ArchivoOCamara'">
                                    <div *ngIf="item['name_archiveordocument'].length > 0">
                                        <div *ngFor="
                          let data of item['name_archiveordocument'];
                          let i = index
                        ">
                                            <div class="wrapper" style="background-color: white">
                                                <div style="
                              background-color: #cfcfcf;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            ">
                                                    <div style="font-size: larger; font-weight: bold">
                                                        {{ data.name.split('.').pop() }}
                                                    </div>
                                                </div>
                                                <div style="
                              background-color: white;
                              align-self: center;
                              display: flex;
                              justify-content: center;
                            ">
                                                    <input type="text" value="{{
                                                        data.name.split('.').slice(0, -1).join('.')
                                                      }}" [disabled]="" class="inputEdit" />
                                                    
                                                </div>

                                                <div style="background-color: white; align-self: center">
                                                    {{(data.size/1048576).toFixed(2)}} MB
                                                </div>
                                                <div>&nbsp;</div>
                                                <div (click)="deleteInput(indexGeneral, i)"
                                                    style="background-color: white; align-self: center">
                                                    <i><svg width="14" height="16" viewBox="0 0 14 16"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M5 0h4a1 1 0 011 1v1h3.5a.5.5 0 110 1h-1v11a2 2 0 01-2 2h-7a2 2 0 01-2-2V3h-1a.5.5 0 010-1H4V1a1 1 0 011-1zm0 1v1h4V1H5zM2.5 3v11a1 1 0 001 1h7a1 1 0 001-1V3h-9zm7 2a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7a.5.5 0 01.5-.5zM7 5a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7A.5.5 0 017 5zM4.5 5a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7a.5.5 0 01.5-.5z"
                                                                fill="var(--main-theme)" fill-rule="evenodd"></path>
                                                        </svg></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="imageArea">
                                        <div class="imageAreaText">
                                            <label class="form-block-input">
                                                <input type="file" name="custom-file" class="form-file"
                                                    (change)="fileChange($event,indexGeneral)" />
                                                <span style="overflow-wrap: break-word; text-align: center">
                                                    <span class="form-file-span">Seleccionar archivo
                                                    </span>
                                                    <span>{{ item['text_information'] }}</span>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="imageAreaCamera" (click)="openDialogCamera(indexGeneral)">
                                            <i><svg width="24" height="20" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M22.5 4h-5.407l-.207-.727-.555-1.957C16.229.984 16.259 1 15.58 1H8.42c-.679 0-.648-.016-.745.297L6.907 4H1.5c-.407 0-.5.093-.5.5v14c0 .407.093.5.5.5h21c.407 0 .5-.093.5-.5v-14c0-.407-.093-.5-.5-.5zm0-1c.959 0 1.5.541 1.5 1.5v14c0 .959-.541 1.5-1.5 1.5h-21C.541 20 0 19.459 0 18.5v-14C0 3.541.541 3 1.5 3h4.652l.562-1.977C6.988.13 7.46 0 8.42 0h7.16c.96 0 1.433.13 1.707 1.023L17.848 3H22.5zM12 16a5 5 0 100-10 5 5 0 000 10zm0 1a6 6 0 110-12 6 6 0 010 12zm0-9a3 3 0 100 6 3 3 0 000-6zm0-1a4 4 0 110 8 4 4 0 010-8zm9 0a1 1 0 110-2 1 1 0 010 2z"
                                                        fill="var(--main-theme)"></path>
                                                </svg></i>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="item['type_origin'] == 'Camara'">
                                    <div *ngIf="item['name_archiveordocument'].length > 0">
                                        <div *ngFor="
                          let data of item['name_archiveordocument'];
                          let i = index
                        ">
                                            <div class="wrapper" style="background-color: white">
                                                <div style="
                              background-color: #cfcfcf;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            ">
                                                    <div style="font-size: larger; font-weight: bold">
                                                        {{ data.name.split('.').pop() }}
                                                    </div>
                                                </div>
                                                <div style="
                              background-color: white;
                              align-self: center;
                              display: flex;
                              justify-content: center;
                            ">
                                                   <input type="text" value="{{
                                                    data.name.split('.').slice(0, -1).join('.')
                                                  }}" [disabled]="" class="inputEdit" />
                                                </div>

                                                <div style="background-color: white; align-self: center">
                                                    {{(data.size/1048576).toFixed(2)}} MB
                                                </div>
                                                <div>&nbsp;</div>
                                                <div (click)="deleteInput(indexGeneral, i)"
                                                    style="background-color: white; align-self: center">
                                                    <i><svg width="14" height="16" viewBox="0 0 14 16"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M5 0h4a1 1 0 011 1v1h3.5a.5.5 0 110 1h-1v11a2 2 0 01-2 2h-7a2 2 0 01-2-2V3h-1a.5.5 0 010-1H4V1a1 1 0 011-1zm0 1v1h4V1H5zM2.5 3v11a1 1 0 001 1h7a1 1 0 001-1V3h-9zm7 2a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7a.5.5 0 01.5-.5zM7 5a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7A.5.5 0 017 5zM4.5 5a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7a.5.5 0 01.5-.5z"
                                                                fill="var(--main-theme)" fill-rule="evenodd"></path>
                                                        </svg></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="imageArea">
                                        <div class="imageAreaTextCamera" style="width: 95%"
                                            (click)="openDialogCamera(indexGeneral)">
                                            <p>Hacer una foto &nbsp;</p>
                                            <p>{{ item['text_information'] }}</p>

                                            <i style="margin-left: 3%"><svg width="24" height="20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M22.5 4h-5.407l-.207-.727-.555-1.957C16.229.984 16.259 1 15.58 1H8.42c-.679 0-.648-.016-.745.297L6.907 4H1.5c-.407 0-.5.093-.5.5v14c0 .407.093.5.5.5h21c.407 0 .5-.093.5-.5v-14c0-.407-.093-.5-.5-.5zm0-1c.959 0 1.5.541 1.5 1.5v14c0 .959-.541 1.5-1.5 1.5h-21C.541 20 0 19.459 0 18.5v-14C0 3.541.541 3 1.5 3h4.652l.562-1.977C6.988.13 7.46 0 8.42 0h7.16c.96 0 1.433.13 1.707 1.023L17.848 3H22.5zM12 16a5 5 0 100-10 5 5 0 000 10zm0 1a6 6 0 110-12 6 6 0 010 12zm0-9a3 3 0 100 6 3 3 0 000-6zm0-1a4 4 0 110 8 4 4 0 010-8zm9 0a1 1 0 110-2 1 1 0 010 2z"
                                                        fill="var(--main-theme)"></path>
                                                </svg></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End image  -->

                            <!--  init document  -->

                            <div *ngIf="item['type'] == 'document'">
                                <div *ngIf="item['type_select'] == 'documento'">
                                    <div *ngIf="item['name_archiveordocument'].length > 0">
                                        <div *ngFor="
                          let data of item['name_archiveordocument'];
                          let i = index
                        ">
                                            <div class="wrapper" style="background-color: white">
                                                <div style="
                              background-color: #cfcfcf;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            ">
                                                    <div style="font-size: larger; font-weight: bold">
                                                        {{ data.name.split('.').pop() }}
                                                    </div>
                                                </div>
                                                <div style="
                              background-color: white;
                              align-self: center;
                              display: flex;
                              justify-content: center;
                            ">
                                                    <input type="text" value="{{
                                data.name.split('.').slice(0, -1).join('.')
                              }}" [disabled]="" class="inputEdit" />
                                                </div>
                                                <div style="background-color: white; align-self: center">
                                                    {{ (data.size / 1048576).toFixed(2) }} MB
                                                </div>
                                                <div>&nbsp;</div>
                                                <div (click)="deleteInput(indexGeneral, i)"
                                                    style="background-color: white; align-self: center">
                                                    <i><svg width="14" height="16" viewBox="0 0 14 16"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M5 0h4a1 1 0 011 1v1h3.5a.5.5 0 110 1h-1v11a2 2 0 01-2 2h-7a2 2 0 01-2-2V3h-1a.5.5 0 010-1H4V1a1 1 0 011-1zm0 1v1h4V1H5zM2.5 3v11a1 1 0 001 1h7a1 1 0 001-1V3h-9zm7 2a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7a.5.5 0 01.5-.5zM7 5a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7A.5.5 0 017 5zM4.5 5a.5.5 0 01.5.5v7a.5.5 0 11-1 0v-7a.5.5 0 01.5-.5z"
                                                                fill="var(--main-theme)" fill-rule="evenodd"></path>
                                                        </svg></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="form-block-input">
                                        <input type="file" name="custom-file" class="form-file"
                                            accept=".{{ item.answer_document.join(', .') }}  "
                                            (change)="fileChange($event,indexGeneral)" />
                                        <span style="overflow-wrap: break-word; text-align: center">
                                            <span class="form-file-span">Seleccionar archivo </span>
                                            <span>{{ item['text_information'] }}</span>
                                            <span>(Soporte:</span>

                                            <span>{{ item['answer_document'] }}</span>

                                            <span class="form-file-span">) </span>
                                        </span>
                                    </label>
                                </div>
                                <div *ngIf="item['type_select'] == 'archivo'">
                                    <label class="form-block-input">
                                        <input type="file" name="custom-file" class="form-file"
                                            accept=".{{ item['answer_archive'].join(', .') }} " />
                                        <span style="overflow-wrap: break-word; text-align: center">
                                            <span class="form-file-span">Seleccionar archivo </span>
                                            <span>{{ item['text_information'] }}</span>
                                            <span>(Soporte:</span>

                                            <span>{{ item['answer_archive'] }}</span>

                                            <span class="form-file-span">) </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <!--  end document  -->
                        </div>
                    </div>
                </div>
                <div *ngIf="condition_encuesta == false">
                    <div class="encuesta_vacia">
                        <div>
                            <p>
                                Arrastre o pulse el panel derecho para agregar la primera
                                pregunta.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="container-encuesta-send" (click)="saveDataAnswer()"-->
            <div class="container-encuesta-send" 

                [ngClass]="{'box_encuesta_after_aparence': styleAparence['send_status']}"
                style="display: flex; justify-content: center">
                <button class="button_send">{{styleAparence['send']}}</button>
            </div>
        </div>
    </div>
</div>
<div class="buttonClose" mat-dialog-close>

    <i class="webform-svg-icon no-theme"><svg width="12" height="12" viewBox="0 0 12 12"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M12 1.2L10.8 0 6 4.8 1.2 0 0 1.2 4.8 6 0 10.8 1.2 12 6 7.2l4.8 4.8 1.2-1.2L7.2 6z"
                fill-rule="evenodd"></path>
        </svg></i>
</div>
<!-- Copyright 2022 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->